[Unit]
Description=Energy Manager
After=multi-user.target

[Service]
Type=dbus
BusName=ar.claaj.Rusttery
ExecStart=/usr/bin/rusttery-server

[Install]
WantedBy=multi-user.target
